div#palette-colors, div#palette-colors div.palette-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: #1F1F1F;
  overflow-x: hidden;
  overflow-y: scroll; }

div.header {
  position: fixed;
  z-index: 10;
  height: 3.3rem;
  width: 100%;
  background: color1;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#222, #111);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#222, #111);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#222, #111);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#222, #111);
  /* Standard syntax */
  will-change: transform; }
  div.header #logo {
    float: left;
    margin-left: 5%; }
    div.header #logo h1 {
      color: white;
      font-family: Helvetica, sans-serif;
      font-weight: 100;
      font-style: normal;
      font-size: 1.5rem;
      width: 10rem;
      text-align: center;
      margin: 5px 10px 0 10px; }
    div.header #logo #underline-left {
      background-color: white;
      height: 2px;
      width: 2.3rem;
      position: relative;
      margin: 0 auto;
      left: -3.3rem;
      top: -2px; }
    div.header #logo #underline-right {
      background-color: white;
      height: 2px;
      width: 5.9rem;
      position: relative;
      margin: 0 auto;
      left: 1.6rem;
      top: -4px; }
    div.header #logo #rainbow {
      position: relative;
      width: 120px;
      height: 2px;
      position: relative;
      top: -2px;
      left: 21px;
      background: linear-gradient(90deg, #F24949, #FCFF3B, #36FF61, #40A9FF, #C74FFF); }
    div.header #logo #white-line {
      position: relative;
      width: 126px;
      height: 2px;
      position: relative;
      top: 0px;
      left: 18px;
      background-color: white; }

#wrapper {
  max-width: 80rem;
  margin: 3.5rem auto 3rem; }

button {
  width: 100px;
  display: block;
  margin: .25rem auto;
  border-radius: 0%;
  font-size: .9rem;
  width: 8rem;
  color: white;
  border: 3px solid #222;
  text-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.5);
  background: color1;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#666, #555);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#666, #555);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#666, #555);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#666, #555);
  /* Standard syntax */ }
  button:active {
    background: color1;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#444, #777);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#444, #777);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#444, #777);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#444, #777);
    /* Standard syntax */ }

div#palette-colors div.palette-container {
  border: 3px solid black;
  width: rem;
  margin: .25rem 1rem;
  padding: 0px;
  background-color: #434343;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.5); }
  div#palette-colors div.palette-container .color-preview {
    position: relative;
    left: 0rem;
    width: 7rem;
    height: 7rem;
    text-align: center; }
  div#palette-colors div.palette-container .palette-buttons {
    float: right;
    padding: 0rem 1rem 0rem 1rem;
    border-left: 3px solid black; }
    div#palette-colors div.palette-container .palette-buttons input {
      padding: 0px;
      width: 5rem;
      height: 1.3rem;
      margin: .5rem 2rem .2rem;
      font-size: 1rem;
      background-color: #efefef;
      text-align: center; }
    div#palette-colors div.palette-container .palette-buttons .hash-version {
      position: fixed;
      top: -900rem; }

#palette-maker {
  margin: 2rem auto;
  background-color: #434343;
  border: 3px solid black;
  width: 16rem;
  height: 7rem;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.5); }
  #palette-maker input#palette-name {
    text-align: center;
    width: 13rem;
    display: block;
    margin: 1.1rem auto;
    font-size: 1.3rem; }
  #palette-maker button#save-palette {
    background: color1;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1FA9FF, #1880C2);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1FA9FF, #1880C2);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1FA9FF, #1880C2);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1FA9FF, #1880C2);
    /* Standard syntax */ }

#swatches {
  height: 22rem;
  width: 90%;
  margin: 1rem auto;
  border: 3px solid black;
  height: 24rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #121212;
  box-shadow: inset 0rem 0.5rem 1rem 0.1rem rgba(0, 0, 0, 0.5);
  position: relative; }
  #swatches .swatch {
    display: inline-block;
    position: relative;
    width: 10rem;
    height: 15rem;
    border: 3px solid black;
    padding: 1rem;
    margin: 2rem 1rem;
    vertical-align: top;
    position: relative;
    color: white;
    background-color: #434343;
    box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.5); }
    #swatches .swatch .load-swatch {
      background: color1;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(#27B559, #1E8742);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#27B559, #1E8742);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#27B559, #1E8742);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(#27B559, #1E8742);
      /* Standard syntax */
      margin: 0 auto; }
    #swatches .swatch div.mid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 3.6rem; }
      #swatches .swatch div.mid h3 {
        font-family: Helvetica, sans-serif;
        font-size: 1.1rem;
        text-shadow: 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
        text-align: center;
        white-space: normal;
        word-wrap: break-word; }
    #swatches .swatch .swatch-colors {
      border: .25rem solid #111;
      width: 9rem;
      height: 9rem;
      margin: 1rem auto 0rem; }
      #swatches .swatch .swatch-colors div.color0, #swatches .swatch .swatch-colors div.color1, #swatches .swatch .swatch-colors div.color2, #swatches .swatch .swatch-colors div.color3, #swatches .swatch .swatch-colors div.color4 {
        height: 1.8rem; }
    #swatches .swatch .remove-swatch {
      position: absolute;
      top: 18.2rem;
      left: 2rem;
      background: color1;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(#870000, #610000);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#870000, #610000);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#870000, #610000);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(#870000, #610000);
      /* Standard syntax */
      border: 3px solid black;
      box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.5); }
      #swatches .swatch .remove-swatch:active {
        background: color1;
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#610000, #870000);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#610000, #870000);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#610000, #870000);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(#610000, #870000);
        /* Standard syntax */ }

#clear {
  width: 10rem;
  height: 4rem;
  background-color: #434343;
  margin: 1rem auto;
  vertical-align: middle;
  text-align: center;
  border: 3px solid black;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  position: relative;
  top: 2rem; }
  #clear #clear-palettes {
    position: relative;
    top: .85rem;
    background: color1;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222, #000000);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, #000000);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, #000000);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, #000000);
    /* Standard syntax */
    border: 3px solid black;
    color: #BDBDBD; }
    #clear #clear-palettes:active {
      background: color1;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(#610000, #870000);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#610000, #870000);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#610000, #870000);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(#610000, #870000);
      /* Standard syntax */ }

#footer {
  background-color: #1F1F1F;
  width: 1rem;
  height: 3rem;
  position: relative;
  top: 2rem; }

/*# sourceMappingURL=styles.css.map */
