$std-border: 2px solid black;


button {
  width: 100px;
  display: block;
  margin: 10px auto;
}
#colorOneBlock, #colorTwoBlock {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  display: block;
}

div.paletteColor {
  margin: 10px auto;
  padding: 10px;
  border: $std-border;
}
