$std-border: 3px solid black;
$square: 200px;
$background-color: #1F1F1F;
$palette-swatch: #434343;
$swatch-box: #121212;

%flexy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin linear-gradient($color1, $color2) {
    background: color1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($color1, $color2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($color1, $color2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($color1, $color2); /* For Firefox 3.6 to 15 */
    background: linear-gradient($color1, $color2); /* Standard syntax */
}

@mixin rotation($rotate) {
    -ms-transform: rotateY($rotate); /* IE 9 */
    -webkit-transform: rotateY($rotate); /* Chrome, Safari, Opera */
    transform: rotateY($rotate);
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: $background-color;
  overflow-x: hidden;
  overflow-y: scroll;
}

div.header {
  position: fixed;
  z-index: 10;
  height: 3.3rem;
  width: 100%;
  @include linear-gradient(#222, #111);
  #logo {
      float: left;
      margin-left: 5%;
      h1 {
          color: white;
          font-family:  Helvetica, sans-serif;
          font-weight: 100;
          font-style: normal;
          font-size: 1.5rem;
          width: 10rem;
          text-align: center;
          margin: 5px 10px 0 10px;
      }
      #underline-left {
          background-color: white;
          height: 2px;
          width: 2.3rem;
          position: relative;
          margin: 0 auto;
          left: -3.3rem;
          top: -2px;
      }
      #underline-right {
          background-color: white;
          height: 2px;
          width: 5.9rem;
          position: relative;
          margin: 0 auto;
          left: 1.6rem;
          top: -4px;
      }
      #rainbow {
          position: relative;
          width: 120px;
          height: 2px;
          position: relative;
          top: -2px;
          left: 21px;
          background: linear-gradient(90deg, #F24949, #FCFF3B, #36FF61, #40A9FF, #C74FFF); 
      }
      #white-line {
          position: relative;
          width: 126px;
          height: 2px;
          position: relative;
          top: 0px;
          left: 18px;
          background-color: white;
      }
  }

}

#wrapper {
  max-width: 80rem;
  margin: 3.5rem auto 0rem;
}

button {
    width: 100px;
    display: block;
    margin: .25rem auto;
    border-radius: 0%;
    font-size: .9rem;
    width: 8rem;
    color: white;
    border: 3px solid #222;
    text-shadow: 0rem 0rem 1rem rgba(0, 0, 0, .5);
    @include linear-gradient(#666, #555); 
    &:active {
        @include linear-gradient(#444, #777);
    }
}


div#palette-colors {
    @extend %flexy;
    div.palette-container {
        @extend %flexy;
        border: $std-border;
        width: rem;
        margin: .25rem 1rem;
        padding: 0px;
        background-color: $palette-swatch;
        box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, .5);
        .color-preview {
            position: relative;
            left: 0rem;
            width: 7rem;
            height: 7rem;
            text-align: center;
            

        }
        .palette-buttons {
            float: right;
            padding: 0rem 1rem 0rem 1rem;
            border-left: $std-border;
            input {
                padding: 0px;
                width: 5rem;
                height: 1.3rem;
                margin: .5rem 2rem .2rem;
                font-size: 1rem;
                background-color: #efefef;
                text-align: center;
            }
            .hash-version {
                position: fixed;
                top: -900rem;
            }
        } 

    }  
}
#palette-maker {
    margin: 2rem auto;
    background-color: $palette-swatch;
    border: $std-border;
    width: 16rem;
    height: 7rem;
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, .5);
    input#palette-name {
        text-align: center;
        width: 13rem;
        display: block;
        margin: 1.1rem auto;
        font-size: 1.3rem;
    }
    button#save-palette {
        @include linear-gradient(#1FA9FF, #1880C2)
    }
}

#swatches {
    height: 22rem;
    width: 90%;
    margin: 1rem auto;
    border: $std-border;
    height: 24rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; //keeps new swatches from adding below instead of to the right
    background-color: $swatch-box;
    box-shadow: inset 0rem .5rem 1rem .1rem rgba(0, 0, 0, .5);
    position: relative;

    .swatch {
        display: inline-block;
        position: relative;
        width: 10rem;
        height: 15rem;
        border: $std-border;
        padding: 1rem;
        margin: 2rem 1rem;
        vertical-align: top;
        position: relative;
        .load-swatch {
            @include linear-gradient(#27B559, #1E8742);
            margin: 0 auto;
        }
        color: white;
        background-color: $palette-swatch;
        box-shadow: 0rem .25rem 1rem rgba(0, 0, 0, .5);
        div.mid {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 3.6rem;
            h3 {
                font-family: Helvetica, sans-serif;
                font-size: 1.1rem;
                text-shadow: 0rem .1rem .1rem rgba(0, 0, 0, .5);
                text-align: center;
                white-space: normal; //so the title will wrap, like its defualt is supposed to
                word-wrap: break-word; //ensures long names with no spaces wrap regardless 
            }
        }
        
        .swatch-colors {
            border: .25rem solid #111;
            width: 9rem;
            height: 9rem;
            margin: 1rem auto 0rem;
            div.color0 {
                height: 1.8rem;
            }
            div.color1 {
                @extend .color0
            }
            div.color2 {
                @extend .color0;
            }
            div.color3 {
                @extend .color0;
            }
            div.color4 {
                @extend .color0;
            }
        }
        
        .remove-swatch {
            position: absolute;
            top: 18.2rem;
            left: 2rem;
            @include linear-gradient(#870000, #610000);
            border: $std-border;
            box-shadow: 0rem .25rem 1rem rgba(0, 0, 0, .5);
            &:active {
                @include linear-gradient(#610000, #870000);
            }
        }

      }
  
}
#clear {
    width: 10rem;
    height: 4rem;
    background-color: $palette-swatch;
    margin: 1rem auto;
    vertical-align: middle;
    text-align: center;
    border: $std-border;
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, .5);
    position: relative;
    top: 2rem;
    #clear-palettes {
        position: relative;
        top: .85rem;
        @include linear-gradient(#222, #000000);
        border: $std-border;
        color: #BDBDBD;
        
        &:active {
            @include linear-gradient(#610000, #870000);
        }
    } 
}
#footer {
    background-color: $background-color;
    width: 1rem;
    height: 3rem;
    position: relative;
    top: 2rem;
}



