$std-border: 2px solid black;
$square: 200px;

%backgroundColor {
    height: 21rem;
    width: 10rem;
}


%mainColors  {
    height: 4rem;
    width: 8rem;
    margin: 1rem auto;
}
button {
  width: 100px;
  display: block;
  margin: 10px auto;
}
div.paletteColor {
  margin: 10px auto;
  padding: 10px;
  border: $std-border;
}
p {
    text-size: 14px;
}

div.color0 {
    @extend %backgroundColor;

    div.color1 {
        @extend %mainColors;
    }
    div.color2 {
        @extend %mainColors;
    }
    div.color3 {
        @extend %mainColors;
    }
    div.color4 {
        @extend %mainColors;
    }
}

